

<% if book.favorited_by?(current_user) %>
<span id="favorite_btn_<%= book.id %>">
   <%= link_to book_favorites_path(book.id), method: :delete, remote: true do %>
        ♥<%= book.favorites.count %>
   <% end %>
  </span>
 <% else %>
  <span id="favorite_btn_<%= book.id %>">
   <%= link_to book_favorites_path(book.id), method: :post, remote: true do %>
        ♡<%= book.favorites.count %>
   <% end %>
   </span>
 <% end %>  