 <div class="container">
   

   <div class="row">
     <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
       <h2>Editing Group</h2>
       
        
        
        <%= form_with model: @group,  local:true do |f| %>
         　<div class="form-group">
               <label for="group_name">グループ名</label>
                  <%= f.text_field :name,class:" form-control name" %>
           </div>


            <div class="form-group">
              <label for="group">紹介文</label>
              <%= f.text_area :introduction,class:" form-control introduction" %>
             </div>
              
          　<div class="group_immage">
               <label for="user">グループ画像</label>
              <p> <%= f.attachment_field :image %></p>
            </div>
              
             <%= f.submit 'Update group',class:"btn btn-info" %>
       <% end %>
      </div> 
     </div>  
    </div>  